@import url('../css/fonts.css');

html,body{
    margin:0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

:root{

    /* theme colours */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-colour: #0f0f0f;
    --white: #ffffff;
    --midnight: #104b4a;
    --bg-light: #f3f3f3;

    /* gradient color */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /* theme font-family */
    --Abel:'Abel', cursive;
    --Anton:'Anton', cursive;
    --Josefin:'Josefin', cursive;
    --Lexend:'Lexend', cursive;
    --Livvic:'Livvic', cursive;
}

/* ---------- Global Classes ---------- */

a{
    text-decoration: none;
    color:var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Lexend);
    font-size: 1.5rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

ul{
    font-family: var(--Lexend);
    color: var(--text-light);
}

.center {
    margin: auto;
    width: 60%;
}

.bottom{
    padding-bottom: 3rem;
}

li{
    padding-bottom: 0.5rem;
}

/* ------X--- Global Classes ---X------ */

/* ---------- navbar ---------- */
.nav{
    background: white;
    padding:0 2rem;
    height:0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display:flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position:relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/* -------X--- navbar ---X------- */

/* ----------- Main Content ----------- */

main{
    background-color: var(--bg-light);
}

/* ---------- video ---------- */
.video {
    height: 60vh;
    padding: 3rem 0;
}
/* -------X--- navbar ---X------- */

/* ---------- Header & Rating ---------- */

main .rating {
    background-color: var(--white);
    border-radius: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

main .rating h2{
    text-align: center;
    padding-top: 1.5rem;
}

main .rating p{
    text-align: center;
    margin-top: -1.2rem;
}

main .sizing{
    font-size: 6rem;
    text-align: center;
    color: #0f0f0f;
}

main .sizing i{
    color: var(--midnight);
}

main .percent{
    font-family: var(--Anton);
    font-size: 5rem;
}

/* -------X--- Header & Rating ---X------- */

/* ----------- Dividor ----------- */

main .divide{
    text-align: center;
    padding-bottom: 2rem;
    width: 60%;
}

h3 {
    overflow: hidden;
    text-align: center;
}

h3:before {
    background-color:var(--bg-colour);
    content: "";
    display: inline-block;
    height: 1.5rem;
    position: relative;
    vertical-align: middle;
    width: 60%;
    overflow: hidden;
}

h3:after {
  background-color: var(--bg-colour);
  content: "";
  display: inline-block;
  height: 1.5rem;
  position: relative;
  vertical-align: middle;
  width: 60%;
  overflow: hidden;
}

h3:before {
    right: 0.5em;
    margin-left: -50%;
}
  
h3:after {
    left: 0.5em;
    margin-right: -50%;
}

/* -------X--- Dividor ---X------- */

.center-text {
    margin: auto;
    width: 60%;
    padding-bottom: 2rem;
}

table, th, td {
    text-align: left;
    font-family: var(--Lexend);
    color: var(--text-light);
    font-size: 0.75rem;
}

table{
    padding-bottom: 3rem;
}

img {
    padding-right: 2rem;
}

.component{
    font-family: var(--Lexend);
    color: var(--text-light);
    width: 750px;
    margin:0 auto;
    padding: 1rem 3rem;
  }
  
  .component blockquote.quote {
      position: relative; 
      text-align: center;
      padding: 1rem 1.2rem;
      width: 80%;  /* create space for the quotes */
      color: #484748;
      margin: 1rem auto 2rem;
  }
  .component blockquote.EN {
      background:
      linear-gradient(to right, var(--midnight) 4px, transparent 4px) 0 100%,
      linear-gradient(to left, var(--midnight) 4px, transparent 4px) 100% 0,
      linear-gradient(to bottom, var(--midnight) 4px, transparent 4px) 100% 0,
      linear-gradient(to top, var(--midnight) 4px, transparent 4px) 0 100%;
      background-repeat: no-repeat;
      background-size: 20px 20px;
  }   
  
  /* -- create the quotation marks -- */
  .component blockquote.quote:before,
  .component blockquote.quote:after{
      font-family: FontAwesome;
      position: absolute;
      color: var(--midnight);
      font-size: 34px;
  }
  
  .component blockquote.EN:before{
      content: "\f10d";
      top: -12px;
      margin-right: -20px;
      right: 100%;
  }
  .component blockquote.EN:after{
      content: "\f10e";
      margin-left: -20px;
      left: 100%;  
      top: auto;
      bottom: -20px;
  }

/* -------X--- Main Content ---X------- */

/* ----------- Footer ----------- */

footer.footer{
    height: 100%;
    background: var(--bg-colour);
    position:relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right:6%;
    top: 50%;
}

footer.footer .move-up span{
    color:var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* -------X--- Footer ---X------- */

/* ------- Viewport less than or equal to 1130px ------- */

@media only screen and (max-width: 1130px) {
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: 1fr 1fr;
    }
}

/* ----X-- Viewport less than or equal to 1130px --X---- */

/* ------- Viewport less than or equal to 750px ------- */

@media only screen and (max-width: 750px) {
    .nav .nav-menu, .nav .nav-items{
       flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: 1fr;
    }
}

/* ----X-- Viewport less than or equal to 750px --X---- */

/* ------- Viewport less than or equal to 520px ------- */

@media only screen and (max-width: 520px) {
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display:none;
    }

    footer.footer .container > div{
        padding: 1rem .9rem !important; 
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }
}

/* ----X-- Viewport less than or equal to 520px --X---- */